* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background:coral;
}

h3 {
    font-size: 18px;
}

.reset-button {
    font-size: 16px;
    height: 25px;
    line-height: 10px;
    margin-top: 20px;
}

.back-button {
    font-size: 16px;
    height: 25px;
    line-height: 10px;
    margin-top: 20px;
}

.score-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

button {
    background:greenyellow;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: backgroudn-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
}

header {
    padding: 5px;
    text-align: center;
    background: blue;
    color: white;
    border-bottom: 30px brown;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: pink;
    border-radius: 8px;
}

.question {
    width: 55vw;
    height: 300px;
}

.results {
    width: 30vw;
    height: 400px;
}

.card {
    background: gold;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
        rgba(60, 64,67, 0.15) 0 2px 4px 3px;
        margin: auto;
        padding: 20px;
}

.question-words {
    line-height: 100px;
}

.optionsWords {
    display: flex;
    justify-content: space; 
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
    background-color: darkblue;
}

.option {
    padding: 10px;
    width: 15vw;
    height: 10vh;
    font-size: larger;
    background-color: lightsalmon;
    border-radius: 25%;
}

.submit {
    background-color: yellowgreen;
    width: 30vw;
    height: 8vh;
    padding: 5px;
    font-size: larger;
}

.large-font {
    font-size: 18px;
    text-align: center;
}

.timer {
    height: 100px;
    padding: 16px;
    font-weight: bolder;
    background: red;
    color: white;
    text-align: center;
}

.timer-text{
    padding: 5px;
}